@font-face{
    font-family: 'avenir';
    src: url(fonts/Avenir-Book-01.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'avenir';
    src: url(fonts/Avenir-Black.ttf);
    font-style: normal;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    margin: 0;
    padding: 0;
    max-height: 15vh;
}
h1{
    font-size: 6vh;
    font-family: 'avenir';
    font-weight: 600;
    margin-left: 0;
    margin-top: 2.5vh;
    margin-bottom: 0;
    position: relative;
    right: 22px;
}

.home{
  margin: 0;
  position: relative;
  left: 15px;
}
img{
    height: 80%;
    width: 60%;
    margin-bottom: 0%;
}
.bannericon{
    width: 80%;
    margin: 15% 10%;
}
.intro{
    width: 80vw;
    margin: 0% 10% 20% 10%;
    font-size: 3em;
    text-align: center;
    font-family: 'avenir';
}
h2{
    color: rgb(227,6,19);
    font-family: 'avenir';
    font-weight: 600;
    font-size: 5vh;
    margin-left: 2vw;
}

span{
    color: black;
}
p{
    font-size: 3em;
    font-family: 'avenir';
    margin: 0 7vw 0 13vw
}
.last{
    margin-bottom: 5vh;
}
