@font-face{
    font-family: 'avenir';
    src: url(fonts/Avenir-Book-01.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'avenir';
    src: url(fonts/Avenir-Black.ttf);
    font-style: normal;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
}
.yourbikesec, .rulessec, .signssec{
  box-sizing: border-box;
  width: 100%;
  height: 270.6666px;
  background-color: black;
  display: flex;
  border: solid 4px red;
  margin: 0;
}
h2{
  margin-left: 4vw;
  font-family: 'avenir';
  font-weight: 600;
  letter-spacing:  13vw;
  font-size: 8.5vh;
  width: 100vw;
  color: white;
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
.iconyourbike{
  width: 50%;
  margin: 0;
  position: absolute;
  left: 170px;
  top: 120px;
}
.rulesfix{
  position: absolute;
  left: 80vw;
}
.iconrules{
  position: absolute;
  left: 27.5vw;
  top: 56vh;
  width: 45vw;
}
.iconsigns{
  width: 40%;
  margin: 0;
  position: absolute;
  left: 36vw;
  top: 95vh;
}
