@font-face{
    font-family: 'avenir';
    src: url(fonts/Avenir-Book-01.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'avenir';
    src: url(fonts/Avenir-Black.ttf);
    font-style: normal;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    margin: 0;
    padding: 0;
    max-height: 15vh;
}
h1{
    font-size: 6vh;
    font-family: 'avenir';
    font-weight: 600;
    margin: 2vh 0 0 7vw;
}

.homebutton{
  margin: 0;
  width: 15vw;
  position: absolute;
  top: 2vh;
  left: 3vh;
}
p{
    color: white;
    font-family: 'avenir';
}
a{
    font-family: 'avenir';
    font-weight: 600;
    color: white;
}
p{
    margin: 8%;
}
h2{
    font-size: 5vh;
    font-family: 'avenir';
    font-weight: 600;
    color: rgb(227,6,19);
}
/*Blokken onderwerp*/
.secondhand, .rental, .essentials{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 90%;
    margin: 0 5%;
}
.rental, .essentials{
    margin-bottom: 10%;
}
.secondhand{
    margin-bottom: 10%;
    margin-top: 5%;
}

.es, .ren{
    height: 80%;
    width: 30%;
    margin-bottom: 5%;
}
.sh{
  width: 50%;
}
/*pijltjes en extra text*/
summary::-webkit-details-marker {
  display: none;
}
.extendhand:after {
    background: url(icons/arrow_down.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 30px;
    width: 30px;
    content: " ";
    position: relative;
    left: 150px;
    bottom: 155px;
}
.extendrental:after {
    background: url(icons/arrow_down.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 30px;
    width: 30px;
    content: " ";
    position: relative;
    left: 150px;
    bottom: 185px;
}
.extendessentials:after {
    background: url(icons/arrow_down.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 30px;
    width: 30px;
    content: " ";
    position: relative;
    left: 150px;
    bottom: 164px;
}


details[open] summary:after {
    background: url(icons/arrow_up.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 304px;
}
.guide{
    margin: 5% 10%;
    width: 80%;
    background-color: red;
    border: none;
    border-radius: 10px;
    text-align: center;;
}
a{
    text-decoration: none;
    font-size: 2em;
    margin: 10%;
}
